* {
	margin:0;
	padding:0;
	
}
 /* @font-face{
	 src: url("Fonts/conthrax.ttf"); 
	 font-family: mainFont; 
	src: url('Fonts/conthrax-webfont.woff2');
    src: url('Fonts/conthrax-webfont.woff');
}  */
@media screen and (min-width: 601px) {
	body {
		font-size:20px;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size:10px;
	}
}

html, body {
	height: auto;
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
}

body{
	background:rgb(255, 255, 255);
	font-family: sans-serif;
	font-weight: bold;
	margin:0;
	display:flex;
	flex-direction: column;
	min-height: 100%;
}

#container {
	min-height:100%;
}

#scheduleBtn {
	border-color: #222;
	background-color: white;
	color: black;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#main {
	padding-bottom:110px;
}

#footer {
	background-color: #000;
	color:white;
	position:relative;
	height:110px;
	width:100%;
	padding-top: 10px;
	margin-top: auto;
	clear: both;
	text-align: center;
	font-size:14px;
}

.introductionCol {
	background: #222;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top:3%;
}

#banner {
	background-image: linear-gradient(to right, transparent, white), url("Images/banner.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size:cover;
	opacity: 100%;
}

#banner2 {
	background-image: linear-gradient(to left, transparent 70%, rgb(68, 67, 67)), url("Images/KidsClass.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size:cover;
	opacity: 100%;
}

.banner_container {
	background-color: rgb(255, 255, 255);
	z-index: 1;
}

.banner_container2 {
	color: white;
	background-color: black;
	background-image: linear-gradient(to right,  black,rgb(68, 67, 67));
}

.grid-container {
	display: grid;
	color: white;
	background-color: black;
	grid-template-areas:
	'left right'
	'left  right';
	gap: 10px;
	padding: 10px;
}

.top_banner {
	display: flex;
	height:300px;
	width: 100%;
	font-size:35px; 
	position: absolute; 
	z-index: 1; 
	justify-content: center;
	align-items: center;
}

.banner_info2 {
	justify-content: center;
	padding-right: 10%;
}

.banner_info {
	background-image: linear-gradient(to right, white 20%, rgb(160, 158, 158));
	justify-content: right;
	padding-right: 10%;
}

.navbar {
	background-color:white;
	height: 100px;
	align-items: flex-end;
}

#navbarSupportedContent {
	justify-content: flex-end;
}

#learnMoreBtn {
	background-color: black;
	width: 150px;
	margin-right: -15%;
	height: 50px;
	color: white;
}

.nav-link {
color: black;
}

.collapse {
	display:flex;
	justify-content: center;
}

.BKCJiuJitsuIcon {
	width: auto;
	top: 0px;
	left: 100px;
	margin: 0px;
	z-index: 1;
	height:150px;
	position: absolute;
}

.emailIcon {
	display: flex;
	height: 20px;
	padding-right: 7px;
	align-content: bottom;
	justify-content:  flex-end;
}

.emailLink {
	display: flex;
	font-size: 15px;
	justify-content: center;
	color:white;
}

.BKCSchedule {
	width: 100%;
	height: auto;
	margin-top: -7%;
}

.addressLink {
	color: white;
}

.facebookIcon{
	width: 25px;
	height: 25px;
}